<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <span class="navbar-brand">News Scraper</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/articles">Saved Articles</a>
                </li>
                <li>
                    <a href="/scrape">
                        <button class="btn btn-primary">
                            Scrape new articles!
                        </button>
                    </a>
                </li>
                <li>
                    <a href="/clear">
                        <button class="btn btn-primary ml-2">
                            Clear articles!
                        </button>
                    </a>
                </li>
            </ul>

        </div>
    </nav>
    {{#each article}}
    {{#if saved}}
    <div class="card m-3">
        <div class="card-header">
            <h3>
                <a href="{{link}}">
                    {{title}}
                </a>

            </h3>
            <button class="btn btn-secondary" data-toggle="modal" data-target="#modal-{{id}}">
                Article Note
            </button>
            <button class="btn btn-secondary deleteArticleBtn" data-id="{{id}}">
                Delete Article
            </button>
        </div>
        <div class="card-body">
            <p>
                {{summary}}
            </p>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="modal-{{id}}" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title articleNote"> {{title}} </h5>
                    <button type="button" class="close" data-dismiss="modal">
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="noteText">Note</label>
                        <textarea class="form-control" class="noteText" rows="3"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary saveNoteBtn" data-id="{{id}}">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    {{/if}}
    {{/each}}
</div>